body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(./image/d.jpg);
}
legend, .nav-font, .teal {
    color: black !important;
    text-align: center;
}
form fieldset {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(231, 226, 226);
}
form fieldset input, .question-bar {
    font-family: sans-serif, Times New Roman;
    margin: 1px auto 15px auto;
    height: 60px;
    width: 540px;
    border: 2px solid black;
    border-width: 0 0 1px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: oldlace;
    font-size: large;
}
input::-webkit-input-placeholder, select, .question-bar::-webkit-input-placeholder {
    font-size: 0.9em;
    line-height: 3;
}
form fieldset input:focus, select:focus, .question-bar:focus {
    outline: none;
}
.form-fields {
    width: fit-content;
    margin: auto;
}
.input-btn {
    width: 110px;
    height: 50px;
    border-width: 0;
    border-radius: 8px;
    margin: 10px;
    font-size: 1.2em;
    color: royalblue;
    cursor: pointer;
}
.input-btn-div {
    width: fit-content;
    margin: auto;
}
.input-btn:hover {
    background-color: royalblue !important;
    color: blanchedalmond !important;
    cursor: pointer;
}
.red-btn {
    border-width: 0;
    border-radius: 8px;
    margin: 10px;
    font-size: 1.2em;
    width: fit-content;
    background-color: red !important;
    color: blanchedalmond !important;
}
.red-btn:hover {
    background-color: blanchedalmond !important;
    color: red !important;
    border: 1px solid red;
    cursor: pointer;
}
.acc{
    width: fit-content;
    margin: 5px auto;
}
.default{
    cursor: default;
}
.theme-btn {
    background-color: whitesmoke !important;
    color: black !important;
    box-align: center;
}
.theme-btn:hover {
    color: whitesmoke !important;
    background-color: black !important;
}
.modal-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
}
.modal-input {
    border-width: 0 0 2px 0 !important;
}
.nav-tabs button {
    width: 150px !important;
}
.nav-tabs button:focus {
    border: 2px solid whitesmoke !important;
    border-width: 0 0 2px 0 !important;
}
.nav-h1{
    text-align: center;
}
.nav-tabs button:hover {
    background-color: whitesmoke !important;
    color: grey !important;
}
.outline-theme-btn {
    border: 1px solid black;
    color: black;
    background-color: whitesmoke;
}
.outline-theme-btn:hover {
    background-color: black !important;
    color: whitesmoke;
}
.bg-azure {
    background-color: whitesmoke !important;
}
.bg-white {
    background-color: whitesmoke !important;
}
.input-date{
    height: 25px;
    border: 1px solid black;
}
.team-cards-holder{
    display: none;
    max-width: 800px;
    min-width: 200px;
    margin: auto !important;
}
.team-cards-holder a{
    text-decoration: none;
}
.back-btn {
    position: absolute;
    top: -3px;
    right: 10px;
    border-radius: 50%;
}
a>i{
    font-size: 2em;
}
.question-bar, .members-box {
    background-color: azure;
}
.members{
    cursor: default;
    background-color: whitesmoke;
    padding: 8px;
    color: black;
    border: 0px solid black;
    border-radius: 50px;
    vertical-align: text-top;
}
.members>.cross{
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: black;
    background-color: azure;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 8px;
}
.cross:hover{
    background-color: black;
    color: azure;
    border-color: azure;
}
.custom-btn {
    width: 110px;
    height: 50px;
    border-width: 0;
    border-radius: 8px;
    margin: 10px;
    font-size: 0.98em;
    cursor: pointer;
}
.member-btn{
    color: black;
    background-color: whitesmoke;
}
.member-btn:hover{
    border: 1px solid black;
}
.delete-btn{
    color: red;
    background-color: whitesmoke;
}
.delete-btn:hover{
    border: 1px solid red;
}
#date{
    font-weight: 400;
    text-decoration: underline;
}
#question_1, #question_2, #question_3{
    display: none;
    font-size: 2em;
}
#answer1, #answer2, #answer3{
    display: none;
    margin-left: 0px;
}
.btn-div{
    margin-top: -35px;
}
.icon{
    color: black;
    cursor: pointer;
}
#memberResponses, #noResponse, #allMemberResponses{
    display: none;
}